{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Response Table</title>
    <link rel="icon" href="{% static '/img/logo.gif' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!--daisy ui-->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="{% static "js/particles.min.js" %}"></script> 
    <style>
      #particles-js {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #00629b;
        z-index: -10;
      }
      tr{
        cursor: pointer;
      }
      .logout, .close {
        background-color: #ff3333;
        color: white;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 4px;
        font-size: 1rem;
        text-decoration: none;
      }
      .logout:hover, .close:hover {
        background-color: #e60000;
        color: white;
        transition: 0.6s;
      }
    </style>
  </head>
  <body class="m-0 p-0">
    <div id="particles-js"></div>

    <div class="relative w-11/12 md:w-100% mx-auto z-10 text py-8 min-h-screen">
      <div class="max-w-6xl mx-auto">
        <h1 class="text-3xl font-bold text-center text-white mb-8">
          Registration Data
        </h1>
        <!-- back button  -->
        <div class="flex justify-between items-baseline my-5">
            <button type="button" onclick="window.history.back();"
              class="px-4 py-2 rounded-lg text-white font-medium shadow-md hover:opacity-90 transition"
              style="background-color: #ffffff; color:#00629B"
            >
              Back
            </button>
            <a href="{% url 'core:logout' %}" class="logout">Logout</a>

        </div>
        <!-- Search bar -->
        <div class="mb-3 flex justify-between items-center">
          <input
            type="text"
            id="tableSearch"
            placeholder="Search through name or email"
            class="px-3 py-2 border bg-white text-black border-gray-400 rounded-md w-1/2 focus:outline-none focus:ring-2 focus:ring-[#006699]"
          />
          {% if has_perm.view_finance_info %}
          <!-- Statistics Button -->
          <div class="flex justify-end my-5">
            <button class="btn btn-info px-5 text-white bg-[#e49e35]" onclick="document.getElementById('statsModal').showModal()">
              Statistics
            </button>
          </div>
          {% endif %}
        </div>
        <!-- Scrollable wrapper -->
        <div class="bg-white rounded-xl shadow-lg overflow-x-auto max-h-[440px]">
          <table class="relative min-w-max w-full border-collapse text-sm md:text-base">
            <thead class="sticky top-0">
              <tr class="bg-gray-700 text-white">
                <th class="text-left py-3 px-4 rounded-tl-lg">ID</th>
                <th class="text-left py-3 px-4">Name</th>
                <th class="text-left py-3 px-4">Student?</th>
                <th class="text-left py-3 px-4">University / Affiliation</th>
                <th class="text-left py-3 px-4">Department</th>
                <th class="text-left py-3 px-4">Email</th>
                <th class="text-left py-3 px-4 rounded-tr-lg">Contact</th>
              </tr>
            </thead>
            <tbody>
              {% for p in participants %}
               <tr data-href="{% url 'registration:view_response' p.id %}" class="border-b hover:bg-gray-100 transition">
                 <td class="py-3 px-4">{{p.id}}</td>
                 <td class="py-3 px-4 font-medium">{{p.name}}</td>
                 <td class="py-3 px-4">{% if p.is_student %}Yes{% else %}No{% endif %}</td>
                 <td class="py-3 px-4">{% if p.is_student %}{{p.university}}{% else %}{{p.affiliation}}{% endif %}</td>
                 <td class="py-3 px-4">{{p.department}}</td>
                 <td class="py-3 px-4 text-blue-600">{{p.email}}</td>
                 <td class="py-3 px-4">{{p.contact_number}}</td>
               </tr>
              {% empty %}
                <tr>
                  <td colspan="6" class="text-center py-4 text-gray-500">No participants found.</td>
                </tr>
              {% endfor %} 
              
              <!-- rows will be here  -->   
            </tbody>
          </table>
        </div>

      </div>
      <div class="flex justify-center items-center mt-3">
        <p class="text-white"><small>2025 © All rights reserved by IEEE NSU Student Branch</small></p>
      </div>

    {% if has_perm.view_finance_info %}
      <!-- Modal -->
    <dialog id="statsModal" class="modal">
      <div class="modal-box max-w-3xl">
        <h2 class="text-2xl font-bold mb-4">Statistics</h2>

        <div class="overflow-x-auto">
          <table class="table table-zebra w-full border">
            <thead class="bg-gray-700 text-white">
              <tr>
                <th class="py-2 px-4 rounded-tl-lg">Student / Professional</th>
                <th class="py-2 px-4">Membership Grade</th>
                <th class="py-2 px-4">Count</th>
                <th class="py-2 px-4">Amount</th>
                <th class="py-2 px-4 rounded-tr-lg">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2 px-4">Student</td>
                <td class="py-2 px-4">IEEE Member</td>
                <td class="py-2 px-4">{{registration_stats.student_member}}</td>
                <td class="py-2 px-4">410</td>
                <td class="py-2 px-4">{{registration_stats.student_member_amount_total}}</td>
              </tr>
              <tr>
                <td class="py-2 px-4">Student</td>
                <td class="py-2 px-4">Non-IEEE Member</td>
                <td class="py-2 px-4">{{registration_stats.student_non_ieee}}</td>
                <td class="py-2 px-4">510</td>
                <td class="py-2 px-4">{{registration_stats.student_non_ieee_amount_total}}</td>
              </tr>
              <tr>
                <td class="py-2 px-4">Profession</td>
                <td class="py-2 px-4">IEEE Member</td>
                <td class="py-2 px-4">{{registration_stats.not_student_member}}</td>
                <td class="py-2 px-4">810</td>
                <td class="py-2 px-4">{{registration_stats.not_student_member_amount_total}}</td>
              </tr>
              <tr>
                <td class="py-2 px-4">Profession</td>
                <td class="py-2 px-4">Non-IEEE Member</td>
                <td class="py-2 px-4">{{registration_stats.not_student_non_ieee}}</td>
                <td class="py-2 px-4">910</td>
                <td class="py-2 px-4">{{registration_stats.not_student_non_ieee_amount_total}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <!-- Total -->
        <div class="mt-4 text-left font-bold text-lg">
          <p style="font-weight: normal;font-size:smaller;">
            Bkash: {{ payment_summary.Bkash|default:0 }}
          </p>
          <p style="font-weight: normal;font-size:smaller;">
            Nagad: {{ payment_summary.Nagad|default:0 }}
          </p>
          <p style="font-size:smaller;">
          Total Amount: <span class="text-green-600">{{total_amount}}</span>
          </p>
          <br>
          <p style="font-weight: normal;">University List :</p>
          <ul>
            {% for uni in university_data  %}
            <li class="flex justify-between items-center px-4 py-2 my-2 text-sm font-semibold text-gray-800 bg-gray-100 rounded-md shadow-sm hover:bg-gray-200">
              <span>{{ uni.university_sanitized }}</span>
              <span class="text-gray-600 font-bold">{{ uni.total }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
        
        <!-- Actions -->
        <div class="modal-action">
          <form method="dialog">
            <button class="btn close">Close</button>
          </form>
        </div>
      </div>
    </dialog>
    {% endif %}
  </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("tableSearch");
        const tableBody = document.querySelector("table tbody"); // use tbody directly

        searchInput.addEventListener("input", function () {
          const query = this.value.toLowerCase();
          const rows = tableBody.querySelectorAll("tr");

          rows.forEach((row) => {
            const cells = row.querySelectorAll("td");
            const name = cells[1].textContent.toLowerCase(); // Name column
            const email = cells[4].textContent.toLowerCase(); // Email column

            if (name.includes(query) || email.includes(query)) {
              row.style.display = "";
            } else {
              row.style.display = "none";
            }
          });
        });
        particlesJS("particles-js", {
          particles: {
            number: { value: 160, density: { enable: true, value_area: 800 } },
            color: { value: "#ffffff" },
            shape: { type: "circle" },
            opacity: {
              value: 1,
              random: true,
              anim: { enable: true, speed: 1, opacity_min: 0, sync: false },
            },
            size: { value: 3, random: true },
            line_linked: { enable: false },
            move: {
              enable: true,
              speed: 1,
              direction: "none",
              random: true,
              straight: false,
              out_mode: "out",
              bounce: false,
            },
          },
          interactivity: {
            detect_on: "canvas",
            events: {
              onhover: { enable: false },
              onclick: { enable: false },
              resize: true,
            },
          },
          retina_detect: true,
        });
      });
    </script>
    <script>
      // Make rows clickable
      document.querySelectorAll("table tbody tr").forEach(row => {
        row.addEventListener("click", () => {
          const link = row.getAttribute("data-href");
          if (link) {
            window.location.href = link; // redirect to the link
          }
        });
      });

    </script>
  </body>
</html>
