<p><span style="background-color: transparent;">Dear {{name}},</span></p>
<p><span style="background-color: transparent;">Greetings from IEEE North South University Student Branch. We hope this
        email finds you in good health.</span></p>
<p><span style="background-color: transparent;">We are delighted to confirm your participation in the Student
        Professionals Awareness Conference- SPAC’24, which will take place on December 30, 2024, at North South
        University premises. Thank you for registering, and we eagerly await your presence at this much-anticipated
        event. Please find your unique QR code and event timeline attached with this email.</span></p>
<p><strong style="background-color: transparent;">Important Notes :</strong></p>
<ol>
    <li><strong style="background-color: transparent;">QR Code Requirement:</strong><span
            style="background-color: transparent;"> All participants will receive a unique </span><strong
            style="background-color: transparent;">QR code</strong><span style="background-color: transparent;">
            attached to this email. Please print or save the QR code on your device and bring it for goodies and food
            collection on the event day. </span><strong style="background-color: transparent;">It is a must for every
            participant of SPAC.</strong></li>
    <li><span style="background-color: transparent;">&nbsp;</span><strong
            style="background-color: transparent;">Entrance Point:</strong><span style="background-color: transparent;">
            Entry to the event will be through North South University, </span><strong
            style="background-color: transparent;">Gate no. 08</strong><span style="background-color: transparent;">.
            Your booth number for the goodies collection will be [NOT YET]. Please ensure you arrive at the designated
            booth number to collect your goodies.&nbsp;</span></li>
</ol>
<p><strong style="background-color: transparent;">Event Guidelines:</strong></p>
<ol>
    <li><span style="background-color: transparent;">Reporting Time: Our</span><strong
            style="background-color: transparent;"> registration booths will open at</strong><span
            style="background-color: transparent;"> </span><strong style="background-color: transparent;">8.00 AM
            sharp.</strong><span style="background-color: transparent;"> All participants must report to the designated
            booth by 8:00 AM to complete registration and receive event goodies.</span></li>
    <li><span style="background-color: transparent;">No Smoking Policy: Smoking is strictly prohibited on NSU campus
            premises.</span></li>
    <li><span style="background-color: transparent;">Restricted Materials: Participants cannot bring smoking (e.g.,
            cigarettes, lighters, vapes) or sharp materials into the North South University campus. There will be strict
            checking at the gates by IEEE NSU SB officials. We expect your cooperation in this matter.</span></li>
    <li><span style="background-color: transparent;">Dress Code: SPAC is a formal event, and we encourage you to
            maintain formal attire. We will be keeping this as well. Please keep your participant ID card (which we will
            provide from the registration booth) with you throughout the event.</span></li>
    <li><span style="background-color: transparent;">Attendance Policy: Participants must remain present for all
            sessions to receive their participation certificate.</span></li>
    <li><span style="background-color: transparent;">Parking Policy: Participants can park their vehicles at the NSU
            parking lot. Use </span><strong style="background-color: transparent;">NSU Gate no. 09</strong><span
            style="background-color: transparent;"> to enter your cars in NSU parking.&nbsp;</span></li>
    <li><span style="background-color: transparent;">Food Policy: IEEE NSU SB will provide food (Breakfast, Lunch,
            Evening snacks, and Dinner) to our participants.</span></li>
</ol>
<p><span style="background-color: transparent;">We are excited to have you join us for an inspiring and engaging day at
        SPAC’24!</span></p>
<p><span style="background-color: transparent;">If you have any questions or require additional information, please
        contact us.&nbsp;</span></p>
<p><span style="background-color: transparent;">Best regards,</span></p>
<p><span style="background-color: transparent;">SPAC’24 Organizing Committee,</span></p>
<p><span style="background-color: transparent;">IEEE NSU SB.</span></p>
<p><br></p>
<p><br></p>