<p><span >Dear {{name}},</span></p>
<p><span >Greetings from IEEE North South University Student Branch. We hope this
        email finds you in good health.</span></p>
<p><span >We are delighted to confirm your participation in the Student
        Professionals Awareness Conference- SPAC’24, which will take place on December 30, 2024, at North South
        University premises. Thank you for registering, and we eagerly await your presence at this much-anticipated
        event. Please find your unique QR code and event timeline attached with this email.</span></p>
<p><strong >Important Notes :</strong></p>
<ol>
    <li><strong >QR Code Requirement:</strong><span
            > All participants will receive a unique </span><strong
            >QR code</strong><span >
            attached to this email. Please print or save the QR code on your device and bring it for goodies and food
            collection on the event day. </span><strong >It is a must for every
            participant of SPAC.</strong></li>
    <li><span >&nbsp;</span><strong
            >Entrance Point:</strong><span >
            Entry to the event will be through North South University, </span><strong
            >Gate no. 08</strong><span >.
            Designated booth numbers for your university are : <strong>{{booth}}</strong>. Please ensure you arrive at the designated
            booth number to collect your goodies.&nbsp;</span></li>
</ol>
<p><strong >Event Guidelines:</strong></p>
<ol>
    <li><span >Reporting Time: Our</span><strong
            > registration booths will open at</strong><span
            > </span><strong >8.00 AM
            sharp.</strong><span > All participants must report to the designated
            booth by 8:00 AM to complete registration and receive event goodies.</span></li>
    <li><span >No Smoking Policy: Smoking is strictly prohibited on NSU campus
            premises.</span></li>
    <li><span >Restricted Materials: Participants cannot bring smoking (e.g.,
            cigarettes, lighters, vapes) or sharp materials into the North South University campus. There will be strict
            checking at the gates by IEEE NSU SB officials. We expect your cooperation in this matter.</span></li>
    <li><span >Dress Code: SPAC is a formal event, and we encourage you to
            maintain formal attire. We will be keeping this as well. Please keep your participant ID card (which we will
            provide from the registration booth) with you throughout the event.</span></li>
    <li><span >Parking Policy: Participants can park their vehicles at the NSU
            parking lot. Use </span><strong >NSU Gate no. 09</strong><span
            > to enter your cars in NSU parking.&nbsp;</span></li>
    <li><span >Food Policy: IEEE NSU SB will provide food (Breakfast, Lunch,
            Evening snacks, and Dinner) to our participants.</span></li>
</ol>
<p><span >We are excited to have you join us for an inspiring and engaging day at
        SPAC’24!</span></p>
<p><span >If you have any questions or require additional information, please
        contact us.&nbsp;</span></p>
<p><span >Best regards,</span></p>
<p><span >SPAC’24 Organizing Committee,</span></p>
<p><span >IEEE NSU SB.</span></p>
<p><br></p>