<div style="font-family:Arial,sans-serif;line-height:1.6;color:#333">
    <div style="max-width:600px;margin:auto;padding:20px;border:1px solid #ddd;border-radius:10px">
      <h2 style="text-align:center;color:#0056b3">Dear Participant,</h2>
      <p style="color:#000000">
        Thank you for registering for <strong>the Student Transition and Elevation Partnership (STEP) 2025</strong>, hosted by the IEEE NSU Student Branch! 
        We are excited to have you as a part of this prestigious flagship event and are confident that your participation will contribute vastly to its success.
      </p>
      <p style="color:#000000">
        <strong>Student Transition and Elevation Partnership (STEP)-25</strong> promises a stellar lineup of speakers and industry experts, shaping the future of STEM. 
        This event isn’t just about learning; it’s the perfect opportunity to immerse yourself in a professional setting where you’ll engage with top minds 
        in science, technology, engineering, and mathematics.
      </p>
      <p style="color:#000000">
        Keep an eye on the <a href="https://www.facebook.com/ieeensusb" style="color:#0056b3" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/ieeensusb&amp;source=gmail&amp;ust=1757937783610000&amp;usg=AOvVaw2gL7OMEANjLlIUkwPxeE-k">Official Facebook page of the IEEE NSU Student Branch</a> and follow 
        the event page for future updates. 
        If you have any queries or require assistance, feel free to reach out to us.
      </p>
      <h3 style="color:#0056b3">Event Details:</h3>
      <ul style="color:#000000">
        <li><strong>Event Title:</strong> Student Transition and Elevation Partnership (STEP) 2025</li>
        <li><strong>Event Date:</strong> 27th September, 2025</li>
        <li><strong>Event Venue:</strong> North South University</li>
      </ul>
      <p style="color:#000000">
        Once again, thank you for registering, and we look forward to seeing you at <strong>STEP 25</strong>!
      </p>
      <p style="color:#000000">Best regards,</p>
      <p style="color:#000000">
        <strong>STEP’25 Registration Team</strong>
      </p>
      <p style="color:#000000">IEEE NSU Student Branch</p>
      <p style="color:#000000">For any queries, contact <strong>01630941492</strong></p>
      <hr style="border:none;border-top:1px solid #ddd;margin:20px 0">
      <p style="color:#000000">
        For a more detailed view of the event or our Student Branch, please check out our social handles below:
      </p>
      <ul>
        <li><a href="https://ieeensusb.org/" style="color:#0056b3" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ieeensusb.org/&amp;source=gmail&amp;ust=1757937783610000&amp;usg=AOvVaw2wfgzXA-SOPMjPJ6T5mD1Y">Official Website</a></li>
        <li><a href="https://www.facebook.com/ieeensusb" style="color:#0056b3" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/ieeensusb&amp;source=gmail&amp;ust=1757937783610000&amp;usg=AOvVaw2gL7OMEANjLlIUkwPxeE-k">Facebook Page</a></li>
        <li><a href="https://shorturl.at/bTRkh" style="color:#0056b3" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://shorturl.at/bTRkh&amp;source=gmail&amp;ust=1757937783610000&amp;usg=AOvVaw1GZO3EPASWxrz_cwbMFGBG">LinkedIn Page</a></li>
        <li><a href="https://shorturl.at/lIrXm" style="color:#0056b3" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://shorturl.at/lIrXm&amp;source=gmail&amp;ust=1757937783610000&amp;usg=AOvVaw0gCJLd3yzhW5bCWapIoSu7">Twitter</a></li>
        <li><a href="https://shorturl.at/0O46r" style="color:#0056b3" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://shorturl.at/0O46r&amp;source=gmail&amp;ust=1757937783610000&amp;usg=AOvVaw3Tr7eLhF42mzMs7_vvPFI-">Instagram</a></li>
      </ul><div class="yj6qo"></div><div class="adL">
    </div></div><div class="adL">
  </div></div>